---
active_section: dining
title: Page Title
active_card: eazydiner
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/eazydiner-banner.png" class="center-on-mobile" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/eazydiner-logo.svg" alt="Zomato Gold offer by AURUM"
						class="eazydiner-logo">
				</div>

				<div class="offer-tagline" style="margin-bottom: 20px;">
					Your EazyDiner Prime membership has expired. We hope you enjoyed your experience.
				</div>

				<div class="offer-cta-container expired">
					<a href="#">
						For membership-related queries, click here.
					</a>
				</div>

			</div>
		</section>

		<section class="row membership-details expired">
			<div class="col px-0">
				<div class="details-container">
					<div class="detail">
						<h4 class="detail-heading">
							EAZYDINER MEMBERSHIP ID
						</h4>
						<h6 class="detail-text">
							1137373
						</h6>
					</div>

					<div class="detail">
						<h4 class="detail-heading">
							VALID TILL
						</h4>
						<h6 class="detail-text">
							2019-01-01
						</h6>
					</div>

					<div class="detail">
						<h4 class="detail-heading">
							MEMBERSHIP STATUS
						</h4>
						<h6 class="detail-text">
							Expired
						</h6>
					</div>
				</div>
				<div class="button-container">
					<button class="button-styling">
						Membership Expired
					</button>
				</div>
			</div>
		</section>

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						For any queries contact EazyDiner Prime exclusive number: <a href="tel:7861004400">+91 786 100
							4400</a>
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs expired">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>AURUM Cardholders get yearly EazyDiner prime Membership complimentary with AURUM
							CARD</li>
						<li>Only Primary card holders of AURUM are eligible for this Membership</li>
						<li>Make your first transaction using your AURUM Card to become eligible for this membership.
						</li>
						<li>Customer to avail membership from Web or SBI Card App for AURUM</li>
						<li>The restaurants and the offers are dynamic as we constantly improve the product, hence the
							offers at restaurants may change without any prior notice. In case there are any concerns,
							please
							call the EazyDiner Prime hotline at 786 100 4400.</li>
						<li>All 1+1 deals are valid for a minimum of 2 guests and indicate a 50% discount on your meal.
							In
							case of 3 guests, 2 guests will be charged, and 1 guest will be complimentary.</li>
						<li>Please inform the restaurant upon your arrival on the reservation made and the offer as
							applicable.</li>

						<div class="initially-hide">
							<li>SBI Card & EazyDiner shall not be liable for the experience at the partner restaurant as
								we assist
								in fulfilling the reservations with special offers only.</li>
							<li>SBI Card & EazyDiner shall not be liable if any restaurant has temporarily or
								permanently shut
								down its operations. In case there are any concerns, please call the EazyDiner Prime
								helpline no
								at 786 100 4400.</li>
							<li>Only one subscription can be used for a single reservation.</li>
							<li>One complimentary alcoholic beverage per person will offered to cardmembers at select
								restaurants. The restaurants offering the same shall have the same mentioned on the
								restaurants
								page as the additional benefit.</li>
							<li>The membership card cannot be cancelled or exchanged for cash.</li>
							<li>The membership validity cannot be extended under any circumstances.</li>
							<li>In the event of any dispute, parties agree to exclusive jurisdiction of courts of New
								Delhi.</li>
							<li>Company & Buyer are not responsible in case of non-availability of reservation at a
								restaurant.
								However, an alternate slot at best available date / time shall be made available.</li>
							<li>SBI Card shall not be liable if any partner has temporarily or permanently shut down its
								operations</li>
						</div>
					</ul>

					<div class="read-more-overlay">
						<span class="read-more">Read more</span>
						<span class="read-less">Read less</span>
					</div>
				</div>
			</div>

		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/custom_js.html %}

</body>

</html>