---
title: Page Title
active_card: fitternity
active_section: health
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/owlcarousel_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/fitternity-banner.png" class="center-on-mobile" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/fitternity-logo.png" alt="Practo logo" class="uc-logo">
				</div>

				<div class="offer-tagline">
					Take your workout to the next level with Fitternity: India’s largest fitness discovery and
					subscription platform.

				</div>
			</div>
		</section>


		<section class="row offers-instore">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					What's in store for members
				</h2>
			</div>

			<div class="col-12 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								Access to interactive and pre-recorded classes
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/fitternity-video-class.png" class="1-1-drinks-image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/fitternity-daily.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								100+ daily live workouts.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								Top trainers/studios in the country covering all forms of fitness like Yoga, Zumba,
								Functional Training and more
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/fitternity-functional-training.png" class="foodoffer-image">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/fitternity-celeb-trainers.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								Daily scheduled video classes from top celebrity trainers and Nutrition Coaches
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row how-to-avail">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					How to avail Fitternity Membership
				</h2>
			</div>

			<div class="col-12 px-0">

				<div class="how-to-container">

					<div class="grid-item">
						<span class="bullet">1</span>
					</div>
					<div class="grid-item">
						AURUM Cardholders are required to make their first transaction using their AURUM Card to become
						eligible for the membership.
					</div>

					<div class="grid-item">
						<span class="bullet">2</span>
					</div>
					<div class="grid-item">
						Fitternity subscription E-code and link will be sent to eligible AURUM Cardholders
					</div>

					<div class="grid-item">
						<span class="bullet">3</span>
					</div>
					<div class="grid-item">
						Visit the Link provided: <a href="http://www.fitternity.com/AURUM" target=_blank>http://www.fitternity.com/AURUM</a>
					</div>

					<div class="grid-item">
						<span class="bullet">4</span>
					</div>
					<div class="grid-item">
						View the details of the membership and Click on the "Buy" button
					</div>
					<div class="grid-item">
						<span class="bullet">5</span>
					</div>
					<div class="grid-item">
						Enter your personal information and apply the exclusive unique code under "Apply Coupon/Referral
						Code"
					</div>
					<div class="grid-item">
						<span class="bullet">6</span>
					</div>
					<div class="grid-item">
						Verify your Phone Number using OTP authentication.
					</div>
					<div class="grid-item">
						<span class="bullet">7</span>
					</div>
					<div class="grid-item">
						Select a Start Date and click on “Proceed to Buy” 
					</div>
					<div class="grid-item">
						<span class="bullet">8</span>
					</div>
					<div class="grid-item">
						Confirmation Page; you will receive a confirmation SMS regarding your membership
					</div>
					<div class="grid-item">
						<span class="bullet">9</span>
					</div>
					<div class="grid-item">
						Install the Fitternity from the following links: <a
							href="https://play.google.com/store/apps/details?id=com.discover.fitternity&hl=en_IN" target="_blank">Android</a>
						and <a href="https://apps.apple.com/in/app/fitternity-fitness-app/id1079862968" target="_blank">iOS</a>
					</div>
					<div class="grid-item">
						<span class="bullet">10</span>
					</div>
					<div class="grid-item">
						Login to view your membership. Browse through 100+ fitness options and enjoy your membership
						benefits!
					</div>
				</div>

			</div>

		</section>


		<!-- <section class="row cities-available">
			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Cities available in
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="text">
					Ahmedabad, Bangalore, Chandigarh, Chennai, Coimbatore, Delhi NCR, Hyderabad, Indore, Jaipur,
					Kolkata, Ludhiana, Lucknow, Kochi, Mumbai, Nagpur, Pune
				</div>
			</div>
		</section> -->

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						In case of any queries, connect with  dedicated Personal Fitness Concierge on <a href="tel:7400062849">7400062849</a>
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>Fitternity annual membership is available to AURUM Cardholder only</li>
						<li>Only Primary card holders of AURUM are eligible for this Membership</li>
						<li>Customer to do first transaction to avail the offer </li>
						<li>Customer to avail membership by putting the E-code on Fitternity Link <a href="http://www.fitternity.com/AURUM" target="_blank">http://www.fitternity.com/AURUM</a></li>
						<li>Eligible customers will receive E- code via SMS with 12 working days post first transactions
						</li>
						<li>The validity of this code will be up to 6 months from the SMS date.
						</li>
						<li>Fitternity reserves the right to change / modify / add / delete any of the terms &
							conditions of the offer at any time without notice</li>
						<li>SBI Card shall not be liable if any partner has temporarily or permanently shut down its
							operations</li>

					</ul>


				</div>
			</div>
		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/owlcarousel_js.html %}
	{% include imports/custom_js.html %}
	<!-- <script src="assets/js/zomato_disabled.js"></script> -->
</body>

</html>