---
title: Page Title
active_card: lenskart
active_section: lifestyle
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/owlcarousel_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/lenskart-banner.png" class="center-on-mobile" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/lenskart-logo.svg" alt="lenskart logo offer by AURUM"
						class="zomato-logo">
				</div>

				<div class="offer-tagline">
					Home to a diverse collection of styles and brands, Lenskart lets you enjoy the best of eyewear
					solutions
				</div>
			</div>
		</section>


		<section class="row offers-instore">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					What's in store for members
				</h2>
			</div>

			<div class="col-12 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								1-year Lenskart Gold Membership
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/lenskart-1-year.png" class="1-1-drinks-image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/lenskart-1-1.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								One plus one offer on Eyeglasses+Sunglasses / Eyeglasses+Eyeglasses /
								Sunglasses+Sunglasses
							</div>
						</div>
					</div>
				</div>
			</div>


		</section>

		<div class="row">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row how-to-avail">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					How to avail bbstar Membership
				</h2>
			</div>

			<div class="col-12 px-0">

				<div class="how-to-container">

					<div class="grid-item">
						<span class="bullet">1</span>
					</div>
					<div class="grid-item">
						AURUM Cardholders are required to make their first transaction using their AURUM Card to become
						eligible for the membership.
					</div>

					<div class="grid-item">
						<span class="bullet">2</span>
					</div>
					<div class="grid-item">
						Eligible cardholder will get lenskart Gold membership E-code over SMS with in 12 working

					</div>

					<div class="grid-item">
						<span class="bullet">3</span>
					</div>
					<div class="grid-item">
						Login to Lenskart.com.

					</div>

					<div class="grid-item">
						<span class="bullet">4</span>
					</div>
					<div class="grid-item">
						Add Lenskart Gold Membership to your cart.

					</div>
					<div class="grid-item">
						<span class="bullet">5</span>
					</div>
					<div class="grid-item">
						Proceed to checkout

					</div>
					<div class="grid-item">
						<span class="bullet">6</span>
					</div>
					<div class="grid-item">
						Apply the Unique E-code sent via SMS during checkout

					</div>
					<div class="grid-item">
						<span class="bullet">7</span>
					</div>
					<div class="grid-item">
						Get your complimentary membership activated.

					</div>

				</div>

			</div>

		</section>

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						For any queries, contact <a href="tel:18605002000">1800
							500 2000</a> to write to <a href="mailto:aurum@sbicard.com">aurum@sbicard.com</a>
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>AURUM Cardholder to do first Transaction using AURUM card to become Eligible </li>
						<li>Eligible AURUM customers will receive an e-code on their registered mobile number via SMS
							within 12 working days from the first Transaction.</li>
						<li>E-code has a validity upto 6 month from the SMS sent date</li>
						<li>The membership starts from the day you subscribe </li>
						<li>Membership is valid for 365 days from the date of activation of membership</li>
						<li>Membership benefits are valid on Vincent Chase and John Jacobs (for Eyeglasses &
							Sunglasses).</li>
						<div class="initially-hide">

							<li>Buy One Get One can be availed on Eyeglasses+Sunglasses / Eyeglasses+Eyeglasses /
								Sunglasses+Sunglasses.</li>
							<li>Membership benefits can be used 3 times a month and 12 times a year.</li>
							<li>Membership benefits are applicable across App, Website , 500+ Stores & Home Try-On
								services.
							</li>
							<li>Membership cannot be returned or refunded</li>
							<li>Both products need to be added in cart to avail Buy One Get One.</li>
						</div>

						<div class="read-more-overlay">
							<span class="read-more">Read more</span>
							<span class="read-less">Read less</span>
						</div>
					</ul>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/owlcarousel_js.html %}
	{% include imports/custom_js.html %}
	<!-- <script src="assets/js/zomato_disabled.js"></script> -->
</body>

</html>