---
title: Page Title
active_card: practo
active_section: health
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/owlcarousel_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/practo-banner.png" class="center-on-mobile" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/practo-logo.png" alt="Practo logo" class="uc-logo">
				</div>

				<div class="offer-tagline">
					Your home for health, Practo Plus is designed to simplify and improve your healthcare experience.
					Online consultation with verified doctors at your convenience.
				</div>
			</div>
		</section>


		<section class="row offers-instore">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					What's in store for members
				</h2>
			</div>

			<div class="col-12 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								Consultations from top healthcare professionals across 22 plus specialties.
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/practo-stethoscope.png" class="1-1-drinks-image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/practo-free-consult.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								Almost Free Health Consultations! First 3 Health consultations charged at a nominal rate
								of INR 5, when used with AURUM Card.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								Available in 12 languages and access to over 1Lakh doctors
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/practo-languages.png" class="foodoffer-image">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/practo-chat.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								Simply use INSTANT Consult or Chat Now option on the Practo app, desktop website or
								mobile web.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row how-to-avail">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					How to avail Practo Plus Membership
				</h2>
			</div>

			<div class="col-12 px-0">

				<div class="how-to-container">

					<div class="grid-item">
						<span class="bullet">1</span>
					</div>
					<div class="grid-item">
						AURUM Cardholders are required to make their first transaction using their AURUM Card to become
						eligible for the membership.
					</div>

					<div class="grid-item">
						<span class="bullet">2</span>
					</div>
					<div class="grid-item">
						Eligible AURUM customers to Visit Practo app to avail benefits of Practo plus membership at
						<<XXXXXXXXXXXXXXXXX>>>.
					</div>

					<div class="grid-item">
						<span class="bullet">3</span>
					</div>
					<div class="grid-item">
						AURUM Cardholder to fill in basic details to register on Practo Plus.
					</div>

					<div class="grid-item">
						<span class="bullet">4</span>
					</div>
					<div class="grid-item">
						Cardholder to select Doctor consultation
					</div>
					<div class="grid-item">
						<span class="bullet">5</span>
					</div>
					<div class="grid-item">
						At the time of checkout Cardholder to use AURUM Credit card.
					</div>
					<div class="grid-item">
						<span class="bullet">6</span>
					</div>
					<div class="grid-item">
						Customers will just be charged INR 5 for booking the first 3 doctor consultation while the
						remaining amount gets waived off.
					</div>

				</div>

			</div>

		</section>

		<!-- <section class="row cities-available">
			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Cities available in
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="text">
					Ahmedabad, Bangalore, Chandigarh, Chennai, Coimbatore, Delhi NCR, Hyderabad, Indore, Jaipur,
					Kolkata, Ludhiana, Lucknow, Kochi, Mumbai, Nagpur, Pune
				</div>
			</div>
		</section> -->

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						For any queries, email <a href="mailto:support@practoplus.com">support@practoplus.com</a> and mark
						<a href="mailto:shashank.a@practoplus.com">shashank.a@practoplus.com</a> in cc.
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>Practo Plus is available to AURUM Cardholders only</li>
						<li>Only Primary Cardholders of AURUM are eligible for this membership</li>
						<li>Customer to do first transaction to avail the offer </li>
						<li>The membership starts from the day you subscribe to your AURUM Card.</li>
						<li>Speciality list includes - Gynecology , General Physician ,Dermatology, Sexology, Psychiatry
							,Stomach and digestion (gastroenterology), Pediatrics, Ear, nose, throat , Kidney & urine
							(Nephrology and Urology),Orthopedic, Neurology, Cardiology, Diet & nutrition, Diabetes &
							Endocrinology, Eye & vision (Ophthalmology), Dental, Breathing and chest (Pulmonology) ,
							Ayurveda, Homeopathy, Cancer (Oncology), Physiotherapy, General Surgeon</li>
						<li>App is available in1 2 languages - Hindi, English ,Bengali, Marathi, Telugu, Tamil,
							Gujarati, Urdu, Kannada, Odiya, Malayalam, Punjabi</li>
						<li>Practo Plus reserves the right to change / modify / add / delete any of the terms &
							conditions of the offer at any time without notice</li>

						<div class="initially-hide">
							<li>SBI Card shall not be liable if any partner has temporarily or permanently shut down its
								operations. </li>
							<li>Cardholder enjoys 3 doctor consultation for just INR 5 each by being an AURUM cardholder
								on Practo Plus.</li>
							<li>The User needs to register first at Practo Plus and then input the AURUM Card details in
								the purchase flow to avail the offer.</li>
							<li>Each Consultation has a follow up window of 72 Hours, 50 Chat options are provided per
								consultation. The offers are valid on INSTANT consult/Chat Now and NOT on Scheduled
								Consult options/Find Drs Near You</li>
							<li>The User can opt to Video/Audio/Chat consult with any of the above mentioned 22 plus
								specialities but for Psychological Counselling which is excluded</li>
							<li>The User can download the Practo Plus App for best experience of Video Consulting a
								Doctor, only Chat/Audio consult options are available on mWeb/DWeb</li>
							<li>During the consultation, if there are any problems that the card user encounters, he/she
								can use the three dots to the right end corner of the screen or support button at the
								bottom of the screen, if the issue still persists and the support team on Chat is unable
								to resolve the same, please write to support@Practo Plus.com and mark shashank.a@Practo
								Plus.com in CC.</li>


						</div>
					</ul>

					<div class="read-more-overlay">
						<span class="read-more">Read more</span>
						<span class="read-less">Read less</span>
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/owlcarousel_js.html %}
	{% include imports/custom_js.html %}
	<!-- <script src="assets/js/zomato_disabled.js"></script> -->
</body>

</html>