---
title: Page Title
active_card: primevideo
active_section: entertainment
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/owlcarousel_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/prime-video-banner.png" class="center-on-mobile" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/amazon_prime_logo.png" alt="urbancompany logo" class="uc-logo">
				</div>

				<div class="offer-tagline">
					Venture into a world of movies and binge-worthy shows with Amazon Prime Video.
					From feel-good flicks to dramas and action-packed adventures, you’ll find something for every taste
					and every mood.

				</div>
			</div>
		</section>


		<section class="row offers-instore">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					What's in store for members
				</h2>
			</div>

			<div class="col-12 desc-left">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-description-container">
							<div class="offer-description left">
								Complimentary 1-year Amazon Prime Video membership
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-image-container">
							<div class="offer-image right">
								<img src="{{site.img_path}}/icons/primevideo-1-year.png" class="1-1-drinks-image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mtop-60 desc-right">
				<div class="row">
					<div class="col-12 col-md-5 offset-md-1">
						<div class="offer-image-container">
							<div class="offer-image left">
								<img src="{{site.img_path}}/icons/amazon-exclusive-movies.png" class="fooddelivery-image">
							</div>
						</div>
					</div>
					<div class="col-12 col-md-5">
						<div class="offer-description-container">
							<div class="offer-description right">
								Exclusive access to Amazon Original Movies and Prime Originals
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row how-to-avail">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					How to avail Prime Membership?
				</h2>
			</div>

			<div class="col-12 px-0">

				<div class="how-to-container">

					<div class="grid-item">
						<span class="bullet">1</span>
					</div>
					<div class="grid-item">
						Make your first transaction using your AURUM Card
					</div>

					<div class="grid-item">
						<span class="bullet">2</span>
					</div>
					<div class="grid-item">
						The cardholder shall receive an e-link on her registered mobile number within 2 weeks of first
						transaction
					</div>

					<div class="grid-item">
						<span class="bullet">3</span>
					</div>
					<div class="grid-item">
						This e-link is valid for usage within 6 months from the date this e-link is sent
					</div>

					<div class="grid-item">
						<span class="bullet">4</span>
					</div>
					<div class="grid-item">
						On clicking this e-link, the customer is directed to the Amazon site where customer can log in
						to their amazon account or sign up for a new account

					</div>

					<div class="grid-item">
						<span class="bullet">5</span>
					</div>
					<div class="grid-item">
						On the landing page, customer enters payment details. Message will be shown about refund policy

					</div>

					<div class="grid-item">
						<span class="bullet">6</span>
					</div>
					<div class="grid-item">
						Rs 2 is charged to verify the account, membership auto renews to an annual plan on the payment
						instrument entered by the customer at the end of 12 months.
					</div>

					<div class="grid-item">
						<span class="bullet">7</span>
					</div>
					<div class="grid-item">
						12-month prime membership starts for the customer from that very day.
					</div>

					<div class="grid-item">
						<span class="bullet">8</span>
					</div>
					<div class="grid-item">
						Auto-renew can be turned off and the Prime membership will discontinue at the end of the promo
						period
					</div>

				</div>

			</div>

		</section>


		<!-- <section class="row cities-available">
			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Cities available in
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="text">
					Ahmedabad, Bangalore, Chandigarh, Chennai, Coimbatore, Delhi NCR, Hyderabad, Indore, Jaipur,
					Kolkata, Ludhiana, Lucknow, Kochi, Mumbai, Nagpur, Pune
				</div>
			</div>
		</section> -->

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						For any queries, contact <a href="tel:18605002000">1800
							500 2000</a> to write to <a href="mailto:aurum@sbicard.com">aurum@sbicard.com</a>
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>
							Eligible AURUM customer will receive a Unique URL and code from SBI card via SMS on their
							registered Mobile Number.
						</li>
						<li>
							SMS will be sent within 2 weeks of first Transaction.
						</li>
						<li>
							On clicking the URL, customer will be redirected to Amazon site where the customer can
							log-in to their Amazon Account/create new Amazon account.
						</li>
						<li>
							Customer selects billing address for the Code. Alternatively, creates a new billing address
							if she is new to Amazon.
						</li>
						<li>
							The complimentary subscription is applicable for non-members of Amazon Prime only.
						</li>
						<li>
							Auto-renew can be turned off and the Prime membership will discontinue at the end of the
							promo period.
						</li>
						<li>
							Only non-Prime customers will be able to redeem the offer.
						</li>

					</ul>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/owlcarousel_js.html %}
	{% include imports/custom_js.html %}
	<!-- <script src="assets/js/zomato_disabled.js"></script>/ -->
</body>

</html>