---
title: Page Title
active_section: default
active_card: vistara
nav_page: memberships
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row offer-banner">
			<div class="col-12 background-banner">
				<img src="{{site.img_path}}/main-banner.png" alt="AURUM by SBI Card">
			</div>

			<div class="col-12 container-for-text">
				<div class="offer-logo">
					<img src="{{site.img_path}}/aurum-logo.svg" alt="Zomato Gold offer by AURUM" class="aurum-logo">
					<span class="divider"></span>
					<img src="{{site.img_path}}/vistara-logo.svg" alt="Zomato Gold offer by AURUM" class="vistara-logo">
				</div>

				<div class="offer-tagline" style="margin-bottom: 39px;">
					Whether it be for business or for pleasure, trust Destination AURUM to turn every journey into a
					special experience
				</div>
			</div>
		</section>

		<section class="row membership-details">
			<div class="col px-0">
				<div class="details-container">
					<div class="detail">
						<h4 class="detail-heading">
							CLUB VISTARA MEMBERSHIP ID
						</h4>
						<h6 class="detail-text">
							1137373
						</h6>
					</div>

					<div class="detail">
						<h4 class="detail-heading">
							VALID TILL
						</h4>
						<h6 class="detail-text">
							2021-01-01
						</h6>
					</div>

					<div class="detail">
						<h4 class="detail-heading">
							MEMBERSHIP STATUS
						</h4>
						<h6 class="detail-text">
							Active
						</h6>
					</div>
				</div>
			</div>
		</section>

		<section class="row offer-support">
			<div class="col px-0">
				<div class="support-container">
					<img src="{{site.img_path}}/handshake-icon.svg">
					<span>
						For any support on the membership and benefits under it, contact <a href="tel:+919289228888">+91
							928 922 8888</a>.
					</span>
				</div>
			</div>
		</section>

		<section class="row tncs">

			<div class="col-12 px-0">
				<h2 class="section-header section-header-style">
					Terms and Conditions
				</h2>
			</div>

			<div class="col-12 px-0">
				<div class="tnc-list">
					<ul>
						<li>AURUM Cardholder(s) can request for Club Vistara (CV) Silver Membership through <a
								href="https://aurumcreditcard.com">aurumcreditcard.com</a> or
							customer helpline numbers: 39020202 (Prefix Local STD code) or 1860 5002000. The benefits
							under this
							program for new or for existing CV member can be availed only after registration through the
							Card.</li>
						<li>Only Primary cardholders of AURUM are eligible for CV Silver Membership</li>
						<li>Cardholder will receive CV membership ID within 10 days from the date of request of
							membership.</li>
						<li>Cardholder can avail CV Silver Membership only once</li>
						<li>Cardholder should apply for CV Silver Membership within a year from the date of AURUM
							issuance</li>
						<li>If the cardholder is not a CV member, he/she will be allotted a new CV ID with CV Silver
							membership</li>
						<li>If the cardholder is an existing CV Base member, he/she will be upgraded to the CV Silver
							with the
							same CV ID</li>
						<li>If the cardholder holds an existing CV Silver Membership, his/her CV Silver Membership will
							be
							extended for 365 days from the date of request with the same CV ID</li>

						<div class="initially-hide">
							<li>If the cardholder holds an existing CV Gold/Platinum Membership, no change will be made
								in the
								cardholder’s existing CV membership and privileges of the lower tier cannot be availed
							</li>
							<li>CV Silver Membership is not available to the delinquent/blocked and any other ineligible
								Cardholders
								determined as per the internal policy of SBI Card. Accordingly, granting of CV Silver
								Membership is at the
								sole and absolute discretion of SBI Card</li>
							<li>The terms and conditions governing eligibility of CV Silver Membership for SBI
								Cardholders may be
								altered, amended, changed or withdrawn at any time and without any notice by SBI Card at
								its sole option
								and discretion</li>
							<li>CV Points are valid for a period of 36 months from the date of flight</li>
							<li>The CV Silver is valid for one Annual Cycle (Annual cycle is the period from one day
								after the date on
								which a member has achieved a specified tier and continues for 365 days)</li>
							<li>The Cardholder must accumulate 15,000 qualifying tier points or undertake 20 flights to
								retain his/her
								CV Silver status by the end of Annual Cycle, otherwise, he/she will automatically revert
								to CV Base. This
								is as per the standard terms and conditions of Club Vistara program which may be amended
								by Vistara
								without any prior notice.</li>
							<li>Cardholders shall continue to enjoy CV Base privileges for lifetime as CV Base
								membership does not
								have an expiry</li>
							<li>To accumulate CV Points, the member must quote his/her CV ID at the time of making a
								booking
								and/or at the time of check-in</li>
							<li>CV Points are only credited to member’s CV account once the travel is completed. In case
								of a “No
								Show” or cancellation, cardholders will not receive any CV Points</li>
							<li>CV Points cannot be transferred between CV accounts or any other frequent flyer
								programme</li>
							<li>Redemption of Award flight is subject to seat availability at the time of booking</li>
							<li>Cardholders can redeem CV Points for Vistara Award flight/Upgrade Award upon
								accumulating a
								minimum of 500 CV Points in their CV account</li>
							<li>A Cardholder can hold only one CV account with a unique email id. In the event that more
								than one
								account number is assigned to the same individual (duplicate accounts), CV reserves the
								right to merge
								the accounts to the primary account</li>
							<li>CV member will be responsible to maintain the confidentiality of his/her own CV account
							</li>
							<li>Membership to CV is offered at the discretion of Vistara and may be refused to any
								applicant</li>
							<li>The cardholder confirms SBI Card to sharing pertinent cardholder information with
								Vistara for the
								purpose of granting CV Membership</li>
							<li>Use of CV Membership constitutes acceptance of the terms and conditions specified by
								Vistara. All
								interpretations of the Terms and Conditions and Program rules shall be at the sole
								discretion of Vistara</li>
							<li>To check the latest update on benefits of CV Silver Membership and T&Cs’, visit
								www.clubvistara.com and www.airvistara.com/trip/Club-Vistara-Terms-and-Conditions
								respectively</li>
							<li>For other membership related queries, customers can email at
								custrelations@airvistara.com or call at
								+91- 928 922 8888 or +91-120 669 9901</li>
							<li>Sbi Card reserves the right to change / modify / add / delete any of the terms &
								conditions of the offer
								at any time without notice</li>
							<li>SBI Card shall not be liable if any partner has temporarily or permanently shut down its
								operations.</li>
						</div>
					</ul>

					<div class="read-more-overlay">
						<span class="read-more">Read more</span>
						<span class="read-less">Read less</span>
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/custom_js.html %}
</body>

</html>