---
title: Page Title
nav_bottom_border: bottom_border
active_section: default
nav_page: benefits
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/custom_css.html %}

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">
		{% include entire_header.html %}

		{% include membership-cards.html %}

		<section class="row benefits-summary">
			<div class="col-12 px-0">

				<div class="benefits-summary-container">

					<div class="benefits-heading">
						<h2 class="section-header-style">
							AURUM Benefits Summary
						</h2>
					</div>

					<div class="benefits-content">

						<div class="content left-content">

							<h3 class="content-heading">
								AURUM Benefits
							</h3>

							<div class="content-details">

								<div class="final-details">
									<div class="detail-image">
										<img src="{{site.img_path}}/icons/gift.png">
									</div>
									<div class="detail-text">
										Welcome gift of 40K ARP worth Rs 10,000 on payment of joining fee
									</div>
								</div>

								<div class="final-details">
									<div class="detail-image">
										<img src="{{site.img_path}}/icons/voucher.png">
									</div>
									<div class="detail-text">
										E-Vouchers of Victorinox, RBL, Tata Cliq and more
									</div>
								</div>

							</div>

						</div>

						<div class="content right-content">
							<h3 class="content-heading">
								AURUM Milestone Benefits
							</h3>

							<div class="content-details">

								<div class="final-details">
									<div class="detail-image">
										<div class="circle">
											<span class="text">
												<span class="emph">₹1L</span><br>
												in a month
											</span>
										</div>
										<div class="line line-right"></div>
									</div>
									<div class="detail-text">
										Tata Cliq voucher worth ₹1500
									</div>
								</div>

								<div class="final-details">
									<div class="detail-image">
										<div class="circle">
											<span class="text">
												<span class="emph">₹5L</span><br>
												in a year
											</span>
										</div>
										<div class="line line-right"></div>
										<div class="line line-left"></div>
									</div>
									<div class="detail-text">
										RBL voucher worth ₹5K
									</div>
								</div>

								<div class="final-details">
									<div class="detail-image">
										<div class="circle">
											<span class="text">
												<span class="emph">₹10L</span><br>
												in a year
											</span>
										</div>
										<div class="line line-right"></div>
										<div class="line line-left"></div>
									</div>
									<div class="detail-text">
										Taj voucher worth ₹10K
									</div>
								</div>

								<div class="final-details">
									<div class="detail-image">
										<div class="circle">
											<span class="text">
												<span class="emph">₹12L</span><br>
												in a year
											</span>
										</div>
										<div class="line line-left"></div>
									</div>
									<div class="detail-text">
										Waiver of next year annual fees
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row line-vouchers-landing-mobile">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row welcome-vouchers">

			<div class="col px-0">

				<div class="welcome-vouchers-container">

					<div class="welcome-vouchers-heading">
						<h2 class="section-header-style">
							AURUM Benefits
						</h2>
					</div>

					<div class="welcome-vouchers-content">

						<a class="voucher-container" href="vouchers_amazon.html">
							<div class="voucher-image">
								<img src="{{site.img_path}}/arp-voucher.png">
							</div>
							<div class="welcome-voucher-tag">
								Welcome Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									AURUM Reward Points
								</h4>
								<h2 class="offer-text">
									40,000 ARP
								</h2>
							</div>
						</a>



						<a class="voucher-container" href="vouchers_bms.html">
							<div class="voucher-image">
								<img src="{{site.img_path}}/victorinox-voucher.png">
							</div>
							<div class="welcome-voucher-tag">
								Welcome Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Victorinox
								</h4>
								<h2 class="offer-text">
									20% instant discount
								</h2>
							</div>
						</a>

						<a class="voucher-container" href="vouchers_club.html">
							<div class="voucher-image">
								<img src="{{site.img_path}}/club-voucher.png">
							</div>
							
							<div class="voucher-text-container">
								<h4 class="company-name">
									AURUM Access
								</h4>
								<h2 class="offer-text">
									Club Privileges
								</h2>
							</div>
						</a>


					</div>
				</div>

			</div>

		</section>

		<div class="row line-vouchers-landing-mobile">
			<div class="col px-0 line-gradient-parent">
				<div class="line-gradient"></div>
			</div>
		</div>

		<section class="row milestone-vouchers">

			<div class="col px-0">

				<div class="milestone-vouchers-container">

					<div class="milestone-vouchers-heading">
						<h2 class="section-header-style">
							AURUM Milestone Benefits
						</h2>
					</div>

					<div class="milestone-vouchers-content">

						<a class="voucher-container show-on-mobile" href="vouchers_taj.html">
							<div class="voucher-image">
								<img src="assets/images/taj-voucher-small.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Taj
								</h4>
								<h2 class="offer-text">
									₹10000
								</h2>
							</div>
						</a>

						<a class="voucher-container long hide-on-mobile" href="vouchers_taj.html">
							<div class="voucher-image">
								<img src="assets/images/taj-voucher.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Taj
								</h4>
								<h2 class="offer-text">
									₹10000
								</h2>
							</div>
						</a>

						<a class="voucher-container show-on-mobile" href="vouchers_yatra.html">
							<div class="voucher-image">
								<img src="assets/images/yatra-voucher-small.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Reliance Brands Limited
								</h4>
								<h2 class="offer-text">
									₹5000
								</h2>
							</div>
						</a>

						<a class="voucher-container long hide-on-mobile" href="vouchers_yatra.html">
							<div class="voucher-image">
								<img src="assets/images/yatra-voucher.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Reliance Brands Limited
								</h4>
								<h2 class="offer-text">
									₹5000
								</h2>
							</div>
						</a>

						<a class="voucher-container" href="vouchers_cliq.html">
							<div class="voucher-image">
								<img src="assets/images/cliq-voucher.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Tata Cliq
								</h4>
								<h2 class="offer-text">
									₹1500
								</h2>
							</div>
						</a>

						<a class="voucher-container" href="vouchers_sbr.html">
							<div class="voucher-image">
								<img src="assets/images/sbr-voucher.png">
							</div>
							<div class="milestone-voucher-tag">
								Milestone Benefit
							</div>
							<div class="voucher-text-container">
								<h4 class="company-name">
									Spend Based Reversal
								</h4>
								<h2 class="offer-text">
									Waiver of next year annual fees
								</h2>
							</div>
						</a>

					</div>
				</div>

			</div>

		</section>

		{% include footer.html %}

	</div>

	{% include imports/jquery.html %}
	{% include imports/bootstrap_js.html %}
	{% include imports/custom_js.html %}
</body>

</html>