---
title: Page Title
active_section: default
company_name: AURUM Access
voucher_type: Club Privileges
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/custom_css.html %}
	<link rel="stylesheet" href="assets/css/vouchers.css">

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">

		{% include vouchers_header.html %}
		<main class="grey-container">

			<section class="row offer-img offer-information">
				<div class="col-12 px-0">
					<div class="new-tabs-container">

							<div class="image-container">
			
								<div class="background-image">
									<img src="{{site.img_path}}/clubs-voucher-banner.png" alt="Clubs voucher" id="voucher-bg">
								</div>
			
								<div class="foreground-image-container">
									<div class="foreground-image">
										<img src="{{site.img_path}}/clubs-voucher.png" alt="Clubs voucher" id="voucher-img">
			
										<div class="foreground-image-text-container">
											<h4 class="company-name">
												AURUM Access
											</h4>
											<h2 class="offer-text">
												Club Privileges
											</h2>
										</div>
			
										<!-- <div class="welcome-voucher-notification">
											Welcome Voucher
										</div> -->
			
										<div class="show-on-mobile gradient-overlay"></div>
									</div>
								</div>
							</div>
			
							<div class="info-container">
								<div class='toggle'>
									<div class='tabs'>
									  <div class='tab active' id="dlf-tab">DLF Clubs</div>
									  <div class='tab' id="unitech-tab">Unitech Clubs</div>
									</div>
									<div class='panels'>
									  <div class='panel'>
										<h3 class="info-heading">
			
											<img src="{{site.img_path}}/icons/gift-hand.png">
											<span>
												What’s Inside
											</span>
										</h3>
					
										<ul class="main-info">
											<li>Savor the culinary delights and premium beverages at the in-house gourmet restaurants of DLF Club 4 & DLF Club 5, Gurgaon.</li>
											<li>Special invites to in-club events</li>
											<li>Special discounted rates on Clubs’ Rooms & Banquets booking</li>
										</ul>
					
										<!-- second list -->
					
										<h3 class="info-heading">
											
											<img src="{{site.img_path}}/icons/flag-icon.svg">
											<span>
												How to avail
											</span>
										</h3>
					
										<ul class="main-info">
											<li>To avail access to above DLF Clubs, simply present your AURUM Card upon arrival.</li>
											<li>T&C Apply. Validation charges of ₹50 applicable, per person, per visit.</li>
										</ul>
					
										<!-- third list -->
					
										<h3 class="info-heading">
					
											<img src="{{site.img_path}}/phone-icon.svg">
											<span>
												Helpline
											</span>
										</h3>
					
										<ul class="main-info">
											<li>AURUM helpline number: 1860 500 2000</li>
											<li>AURUM e-mail ID: aurum@sbicard.com</li>
										</ul>

										<!-- fourth list -->
					
										<h3 class="info-heading">
					
											<img src="{{site.img_path}}/icons/list-ticked.png">
											<span>
												Terms and Conditions
											</span>
										</h3>
					
										<ul class="main-info">
											<li>AURUM Cardholder enjoys unlimited access to DLF Club 4 & Club 5 in Gurgaon on payment of ₹50 per every person above the age of 12.</li>
											<li>One of the members must be an AURUM cardholder and should showcase the card at the reception.</li>
											<li>A maximum of 4 guests along with Primary AURUM cardholder gets access to the club.</li>
											<li>AURUM cardholder enjoy access to F&B restaurant and Bar, payment of the services must be done in the premises using an AURUM card.</li>
											<li>AURUM cardholder also enjoys exclusive privileges of availing Rooms and banquets services at special rates.</li>
											<li>All the services and the rates associated are at the sole Discretion of DLF recreational foundation limited which may
												change from time to time, information of the same can be checked with Club reception.</li>
											<li>The benefit is applicable for AURUM customer till July 2022.</li>
											<li>Complimentary Program is being provided to AURUM Card Holders.</li>
											<li>Complimentary offer is subject to availability of space with Partner.</li>
											<li>SBICPSL is not liable in case of the club premises being closed.</li>
											<li>All payments if any needs to be done by Cardholder within the premises of the club.</li>
											<li>Access to Partner clubs is only limited to the services mentioned in the program and the cardholder participating in this
												programme or their guests may not have access to the other facilities such as swimming pool, gymnasium, sports
												activities, musical nights and events etc.</li>
											<li>SBI Cards and Payment Services Limited (formerly known as SBI Cards and Payment Services Private Limited) (“SBICPSL”) is
												not responsible in any way for the quality and availability of the service provided by the partner Club.</li>
											<li>SPICPSL is not responsible for or liable for any action, claims, demands, losses, damages, cost, charges and expenses which
												the client may suffer, sustain or incur including but not limited to changes or cancellations of the services provided under
												this programme.</li>
											<li>In case the cardholder avails services beyond the offer, then the cardholder will be subjected to the full fee for the
												services.</li>
											<li>SBICPSL reserves the right to change / modify / add / delete any of the terms &amp; conditions of the offer at any time without
												notice.</li>
											<li>SBICPSL shall not be liable if the service provider has temporarily or permanently shut down its operations.</li>
											<li>Any information that is required to be provided by the cardholder on the microsite of the service provider for registration
												to avail the offer shall be subject to the terms and conditions and privacy policy of the microsite of the service provider.</li>
											<li>Once the cardholder avails the offer and enter the club premises the cardholder will be bound by the T&amp;C of the club and
												SBICPSL will not be responsible in any manner for any damages caused to the club or its associates for the actions or
												inactions of the cardholder.</li>
											<li>In case of any dispute, decision of SBICPSL shall be final and binding.</li>
											<li>SBICPSL may engage, hire, use the services of agent(s) and/or any third party(ies) for the purpose of providing marketing
												or sales related services or any other related services in relation to its products  on its behalf and the customer may be
												required to deal with such  agents/third parties/service providers with respect to such product/services.</li>
											<li>These terms & conditions shall be governed and interpreted as per the laws of India and any dispute relating to these
												terms & conditions shall be subjected to exclusive jurisdiction of the courts of Delhi.</li>
											<li>Service Provider shall not be considered liable or in default of providing the services if such
												performance is prevented by adverse conditions, which is beyond its control.</li>
											<li>SBICPSL and their partners and agents, employees, directors, officers, representatives,
												shareholders, Golf Courses and other suppliers of goods and services accept no liability from any
												and all claims for damages for death, personal injury or property damage which the
												cardmember, his/her personal representatives, heirs, next-of-kin, assigns and insurers may
												have, or which may hereafter accrue, as a result of using the services provided in this
												programme.</li>
											<li>The following DLF Clubs (Club 4 & Club 5 in Gurgoan) are included in the program.</li>
											<li>Club Benefit under this program is completely non-transferrable hence benefit will be
												available only to the cardholders and 3 more people on one AURUM card.</li>
											<li>The DLF clubs mentioned as part of this programmed are subject to change.</li>
											<li>DLF Club 4 reception Contact No. 0124 4129101</li>
											<li>DLF Club 5 reception Contact No. 0124 4949101</li>
										</ul>
									  </div>
									  <div class='panel'>
										<h3 class="info-heading">
			
											<img src="{{site.img_path}}/icons/gift-hand.png">
											<span>
												What’s Inside
											</span>
										</h3>
					
										<ul class="main-info">
											<li>Savor the culinary delights and premium beverages at the in-house gourmet restaurants of DLF Club 4 & DLF Club 5, Gurgaon.</li>
											<li>Special invites to in-club events</li>
											<li>Special discounted rates on Clubs’ Rooms & Banquets booking</li>
										</ul>
					
										<!-- second list -->
					
										<h3 class="info-heading">
											
											<img src="{{site.img_path}}/icons/flag-icon.svg">
											<span>
												How to avail
											</span>
										</h3>
					
										<ul class="main-info">
											<li>To avail access to above DLF Clubs, simply present your AURUM Card upon arrival.</li>
											<li>T&C Apply. Validation charges of Rs.50 applicable, per person, per visit.</li>
										</ul>
					
										<!-- third list -->
					
										<h3 class="info-heading">
					
											<img src="{{site.img_path}}/phone-icon.svg">
											<span>
												Helpline
											</span>
										</h3>
					
										<ul class="main-info">
											<li>AURUM helpline number: 1860 500 2000</li>
											<li>AURUM e-mail ID: aurum@sbicard.com</li>
										</ul>

										<!-- fourth list -->
					
										<h3 class="info-heading">
					
											<img src="{{site.img_path}}/icons/list-ticked.png">
											<span>
												Terms and conditions
											</span>
										</h3>
					
										<ul class="main-info">
											<li>AURUM Cardholder enjoys unlimited access to DLF Club 4 & Club 5 in Gurgaon on payment of ₹50 per every person above the age of 12.</li>
											<li>One of the members must be an AURUM cardholder and should showcase the card at the reception.</li>
											<li>A maximum of 4 guests along with Primary AURUM cardholder gets access to the club.</li>
											<li>AURUM cardholder enjoy access to F&B restaurant and Bar, payment of the services must be done in the premises using an AURUM card.</li>
										</ul>
									  </div>
									</div>
								  </div>
							
			
							</div>
			
						</div>
				</div>
	
			</section>
		</main>

	</div>
	{% include imports/jquery.html %}

	<script>
		(function() {
			$(function() {
				var toggle;
				return toggle = new Toggle('.toggle');
			});

			this.Toggle = (function() {
				Toggle.prototype.el = null;

				Toggle.prototype.tabs = null;

				Toggle.prototype.panels = null;

				function Toggle(toggleClass) {
				this.el = $(toggleClass);
				this.tabs = this.el.find(".tab");
				this.panels = this.el.find(".panel");
				this.bind();
				}

				Toggle.prototype.show = function(index) {
				var activePanel, activeTab;
				this.tabs.removeClass('active');
				activeTab = this.tabs.get(index);
				$(activeTab).addClass('active');
				this.panels.hide();
				activePanel = this.panels.get(index);
				return $(activePanel).show();
				};

				Toggle.prototype.bind = function() {
				var _this = this;
				return this.tabs.unbind('click').bind('click', function(e) {
					return _this.show($(e.currentTarget).index());
				});
				};

				return Toggle;

			})();

			}).call(this);

			


			$(document).ready(function(){ 
				$('#dlf-tab').click(function() {
					$('#voucher-img').attr("src","{{site.img_path}}/clubs-voucher.png");
					$('#voucher-bg').attr("src","{{site.img_path}}/clubs-voucher-banner.png");
				});
				$('#unitech-tab').click(function() {
					$('#voucher-img').attr("src","{{site.img_path}}/arp-voucher.png");
					$('#voucher-bg').attr("src","{{site.img_path}}/arp-bg.png");
				});
			});

	</script>
</body>

</html>