---
title: Page Title
company_name: Taj
voucher_type: AURUM Milestone Benefit
active_section: default
---
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include imports/bootstrap_css.html %}
	{% include imports/custom_css.html %}
	<link rel="stylesheet" href="assets/css/vouchers.css">

	<title>{{ page.title }}</title>
</head>

<body>

	<div class="container-fluid">

		{% include vouchers_header.html %}

		<section class="row offer-img">
			<div class="col-12 px-0">
				<div class="image-container">

					<div class="background-image">
						<img src="{{site.img_path}}/taj-bg.png" alt="Taj voucher">
					</div>

					<div class="foreground-image-container">
						<div class="foreground-image">
							<img src="{{site.img_path}}/taj-voucher-small.png" alt="Taj voucher">

							<div class="foreground-image-text-container">
								<h4 class="company-name">
									Taj
								</h4>
								<h2 class="offer-text">
									₹10000
								</h2>
							</div>

							<!-- <div class="welcome-voucher-notification">
								Welcome Voucher
							</div> -->

							<div class="show-on-mobile gradient-overlay"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="row offer-information">

			<div class="col-12 px-0">

				<div class="info-container">

					<h3 class="info-heading">

						<img src="{{site.img_path}}/icons/gift-hand.png">
						<span>
							What’s Inside
						</span>
					</h3>

					<ul class="main-info">
						<li>
							Earn Taj Voucher of 10K on achieving annual spends of 10 Lakhs
						</li>
					</ul>

					<!-- second list -->

					<!-- <h3 class="info-heading">
						
						<img src="{{site.img_path}}/nationality-icon.svg">
						<span>
							Available in
						</span>
					</h3>

					<ul class="main-info no-items">
						Ahmedabad, Bengaluru, Delhi, Gurugram, Hyderabad, Jaipur, Mumbai, Noida, Pune
					</ul> -->

					<!-- third list -->

					<h3 class="info-heading">

						<img src="{{site.img_path}}/icons/list-ticked.png">
						<span>
							Terms and conditions
						</span>
					</h3>

					<ul class="main-info">
						<li>Earn Taj Experiences Gift e-card of 10K on achieving annual spends of 10 Lakhs within 12 month
							of
							customer cycle year</li>
						<li>E-Voucher to eligible card holders will be sent through an SMS on registered mobile number,
							within one month of becoming eligible</li>
						<li>Validity of the Taj Experiences Gift e-card will be 6 months,
							customers
							to get code and Pin in each E-GV</li>
						<li>Taj Experiences Gift Cards/eGift cards, herewith referred to as card/s, are issued by The
							Indian
							Hotels Company Limited, hereinafter referred to as Taj / the company.</li>
						<li>Taj Experiences Cards can be purchased for a minimum value of ₹1,000 and maximum value of
							₹100,000 per transaction.</li>
						<li>To check balance and validity, please visit www.tajhotels.com/giftcards and input the Card
							Number in the ‘Check Balance’ section.</li>
						<li>The card balance may be redeemed for spends towards rooms, food and beverages, spa and
							other services and applicable taxes without restrictions at Taj, SeleQtions and Vivanta
							hotels and
							Ama Trails & Stays in India, except for retail spends at third-party outlets, business
							centre
							equipment hire, hired services from third party sources, or expenses of a personal nature
							for
							which a pay-out is raised such as buying medicines, repairs of personal items, etc. This
							does not
							include Ginger Hotels. Taj InnerCircle Points, TAP Points, TAPPMe Points will not be earned
							on
							charges which are paid for using Taj Experiences Gift Cards.</li>
						<li>Cards can be redeemed for all valid spends at that hotel and at Taj Reservations Worldwide
							for
							prepaid room reservations.</li>
						<li>Cards are valid for 365 days from the date of issuance. Valid cards can be reloaded till
							their
							expiry date on www.tajhotels.com/giftcards, till a maximum card balance of ₹100,000, except
							where cards may be issued by a third party other than IHCL or as part of a promotion or
							offer.
							Cards would be automatically revalidated for 365 days from the date of load or reload.
							Revalidation requests would not be processed outside these terms.</li>
						<li>Multiple transactions can be performed on the cards until the value of the card is
							exhausted.</li>
						<li>Should your purchase value exceed the card value, the differential amount of such purchase
							may
							be loaded on the card or should be paid at the point of sale in cash or through an accepted
							credit
							or debit card, at the time of making such purchase.</li>
						<li>A valid card in its original form or e-mail must be presented at the time of availing a
							service.</li>
						<li>For prepaid room reservations at Taj Reservations Worldwide the card number and PIN must be
							quoted when making the reservation. The entire amount must be paid via the card to secure
							the
							reservation. In case the card balance is less than the due amount, the card may be reloaded
							on
							www.tajhotels.com/giftcards before processing the reservation. Standard cancellation
							policies
							would apply. Please contact Taj Reservations Worldwide to process any eligible refunds from
							cancellations on your Card.</li>
						<li>The card shall not be valid for use at any other service establishment or for withdrawal of
							cash.</li>
						<li>No refund, replacement or cash back would be considered against the card. Once a card is
							issued, the company will not entertain any request for cancellation. Any defaced, torn,
							altered,
							spoiled or cancelled card is deemed invalid and shall not be accepted.</li>
						<li>Taj Experiences Cards are cash equivalent bearer cards. The company is not responsible for
							and
							will not replace lost or stolen cards.</li>
						<li>Redemption of the card by its bearer shall be valid discharge of the company's liabilities
							in
							respect of the card.</li>
						<li>Any dispute needs to be referred to The Indian Hotels Company Limited and the decision of
							the
							company shall be final.</li>
						<li>Any further dispute related to the card shall be subject to the exclusive jurisdiction of
							courts at
							Mumbai.</li>
						<li>The card is subject to applicable laws. The company, purchaser and the card bearer shall
							comply
							with all applicable laws promulgated by any statutory/judicial/competent authority from time
							to
							time in this regard.</li>
						<li>The company reserves the entitlement to amend these terms and conditions from time to time.
							Any change in these terms and conditions can be viewed on our website.</li>
						<li>For any other queries, please call Taj Reservations Worldwide at 1800-111-825 or
							<span class="phone">+91-22-6601-
								1825</span> or e-mail reservations@tajhotels.com</li>
					</ul>

				</div>

			</div>

		</section>

	</div>

</body>

</html>